*.aux
*.bbl
*.blg
*.dcf
*.html
*.log
*.nav
*.out
*.snm
*.rds
*.synctex.gz
*.toc
*.vrb
*.yml
.DS_Store
.remake
.Rapp.history
.Rhistory
Makefile
Rbuildignore/*.pdf
Rbuildignore/local/
.Rproj.user
fbseq.Rproj
